@import "@fontsource/roboto";

.item {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px rgb(153, 109, 109) solid;
    width: 100%;
    gap: 6rem;
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgb(150, 118, 118,0.8);
    border-radius: 0.5rem;
      
    h4 {
        width: 5rem
    }

    p {
        width: 2rem
    }
}

.ti-shopping-cart, .ti-car, .ti-email, .ti-pulse {
    border: 1px solid white;
    border-radius: 100%;
    padding: 0.5rem;
    background-color: rgb(255, 255, 255, 0.7);
    font-weight: 600;
}